footer p {
  text-align: center;
  font-size: 16px;

  padding-top: 2vh;
  padding-bottom: 2vh;
}

footer hr {
  width: 50vw;

  border: 0;
  border-bottom: 1px solid #e9e9e9;
  
  margin-top: 5vh;
  margin-left: auto;
  margin-right: auto;
}
